{% extends "land/layout.html" %}

{% block body %}
    <h2 id="index_heading">{{name}}</h2>
    <div class="d-flex align-content-stretch flex-wrap">
    {% for i in land_list %}
            <div class="for_hover">
            <a href="{% url 'land:land_details' i.id %}" style="text-decoration: none;color: black;">
                <div class="card border-dark mb-3" style="max-width: 18rem;" id="products">
                    <div class="card-header" style="text-align: center;">{{i.area}}</div>
                    <div class="card-body text-dark">
                    <img src="{{i.land_image}}" alt="Image Was There" height="250px" width="250px" style="display: block;margin-left: auto;margin-right: auto;">
                    <p class="card-text" style="margin: 5px;">{{i.land_info}}</p>
                    <p class="card-text"><small class="text-muted">Created {{i.land_date}}</small></p>
                    </div>
                </div>
            </a>
            </div>
    {% endfor %}
    </div>
    </div>
    <style>
        .for_hover{
            margin: 0 1%;
        }
        .for_hover:hover{
            transform: scale(1.01,1.01);
        }
    </style>
    
{% endblock %}