{% extends "crops/layout.html" %}


{% block body %}
        <div class="my_data">
        <div class="card">
            <h3 class="card-header">{{crop_details.pro_name}}</h3>
            <div class="card-body">
                <img src="{{crop_details.crop_image}}" alt="Image" height="40%" width="40%">
            <p class="card-text">{{crop_details.crop_info}}</p>
            <p class="card-text">Created By : {{name}}</p>
            <p class="card-text">Category : {{cat}}</p>
            <p class="card-text">Listed On : {{date}}</p>
            </div>
            </div>
        </div>
    <style>
        .my_data{
            margin: 2% 5%;
            text-align: center;
        }
        #bid_box{
            margin: 0;
        }
        small{
            font-size: small;
        }
        .won_details h1{
            text-align: center; 
            margin-top: 3%;
        }
    </style>

{% endblock %}